<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Cars</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-brown">
        <a class="navbar-brand" href="#">Cars</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/all}">Все объявления<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/add}">Добавить обьявление</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}">Регистрация</a>
                </li>
                <li>
                    <a class="nav-item nav-link" th:if="${user.login == 'Гость'}" th:href="@{/loginPage}">
                        <span th:text="${user.login}"></span>
                        <span> | Войти</span>
                    </a>
                    <a class="nav-item nav-link" th:if="${user.login != 'Гость'}" th:href="@{/logout}">
                        <span th:text="${user.login}"></span>
                        <span> | Выйти</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-brown">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupported">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/all}">Все обьявления<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/last/}">За последние 24 часа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/photos/}">С фото</a>
                </li>
            </ul>
            <form th:action="@{|/brand/${carBrand}|}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="carBrand" type="search" placeholder="Марка автомобиля"
                       aria-label="Поиск">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container pt-3">
        <div class="row ml-4">
            <div class="card" style="width: 100%">
                <div class="card-header">
                    <td>
                        <div style="text-align: left;" class="badge badge-pill badge-primary"><b>
                            <span th:if="*{post.status == true}">Продан</span></b>
                            <span th:if="*{post.status != true}">Продается</span>
                        </div>

                        <div class="row mb-3 mt-3 mr-3 border-bottom">
                            <div class="col-3 mb-3"><img class="img-thumbnail" th:src="@{|/photoCar/${post.id}|}"
                                                         width="800px" height="600px"></div>
                            <div class="col-5">
                                <div class="row mb-3">
                                    <div class="col-5">Марка</div>
                                    <div class="col-7"><span th:text="*{post.car.name}"></span></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-5">Двигатель</div>
                                    <div class="col-7"><span th:text="*{post.car.engine.name}"></span></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-5">Год выпуска</div>
                                    <div class="col-7"><span th:text="*{post.year}"></span></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-5">Цена</div>
                                    <div class="col-7"><span th:text="*{post.price} + ' руб.'"></span></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-5">Владелец</div>
                                    <div class="col-7"><span th:text="*{post.car.driver.surname} + ' ' + *{post.car.driver.name}"></span></div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-5">Дата создания</div>
                                    <div class="col-7"><span
                                            th:text="${#temporals.format(post.created, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 mt-3 mx-3">
                            <span><b>Описание</b></span>
                        </div>
                        <div class="row pb-3 mb-3 mt-3 mx-3 border-bottom">
                            <span th:text="${post.text}"></span>
                        </div>
                        <form>
                            <button type="submit" class="btn btn-outline-success"
                                    th:formaction="@{|/completed/${post.id}|}">Продан
                            </button>
                            <button type="submit" class="btn btn-outline-primary"
                                    th:formaction="@{|/update/${post.id}|}">изменить
                            </button>
                            <button type="submit" class="btn btn-outline-danger"
                                    th:formaction="@{|/delete/${post.id}|}">удалить
                            </button>
                        </form>
                        <br>
                </div>
            </div>
            </td>
        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
</html>